[submodule "CertificateRevocation/resources/rticonnextdds-cmake-utils"]
	path = CertificateRevocation/resources/rticonnextdds-cmake-utils
	url = https://github.com/rticommunity/rticonnextdds-cmake-utils.git
